<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prompt</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstname" />
        <input type="text" v-model="lastname" />
        <input type="text" v-model="fullname" />
        <p>Имя: {{fullname}}</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>

    const tg = window.Telegram.WebApp.ready();
    const userId = Telegram.WebApp.initDataUnsafe.userId;
    console.log(userId)

    //$.ajax({ url: '/get-user-id', method: 'POST', data: { "user_id": 123456789, "name": "tester" }});

    fetch('/get-user-id', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({"user_id": 12345})
    })
    .then(response => {
    if (response.status === 200) {
        return response.json();
    } else {
        throw new Error('Ошибка сервера');
    }
    })
    .then(data => {
    console.log(data);
    })
    .catch(error => {
    console.error('Error:', error);
    });

    Vue.createApp({
      data() {
        return {firstname:'Tom', lastname:'Smith'}
      },
      computed:{
            fullname: {
                get: function () {
                    return this.firstname + ' ' + this.lastname;
                },
                set: function (newValue) {
                    const names = newValue.split(' ')
                    this.firstname = names[0]
                    this.lastname = names[names.length - 1]
                }
            }
        }
    }).mount('#app');
    </script>
    </body>
    </html>